html {
      box-sizing: border-box;
      background:#ffc600;
      font-family:'Roboto';
      font-size: 20px;
      font-weight: 200;
    }
    
body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height:100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    color:white;
    text-align: center;
    align-items:center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
    font-size: 20px;
    background-size:cover;
    background-position:center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(https://images.unsplash.com/photo-1470405317902-f80e1a701ad5?dpr=2&auto=format&fit=crop&w=1500&h=1002&q=80&cs=tinysrgb&crop=&bg=); }
.panel2 { background-image:url(https://images.unsplash.com/photo-1453134765485-7f9a71a803d5?dpr=2&auto=format&fit=crop&w=1500&h=1004&q=80&cs=tinysrgb&crop=&bg=); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1484589065579-248aad0d8b13?dpr=2&auto=format&fit=crop&w=1500&h=1896&q=80&cs=tinysrgb&crop=&bg=); }
.panel4 { background-image:url(https://images.unsplash.com/photo-1473167052083-3d31fa1f6776?dpr=2&auto=format&fit=crop&w=1500&h=1991&q=80&cs=tinysrgb&crop=&bg=); }
.panel5 { background-image:url(https://images.unsplash.com/photo-1461783818807-74d54914743e?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=); }

.panel > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex: 1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child { 
    transform: translateY(-100%); 
}

.panel.open-active > *:first-child { 
    transform: translateY(0); 
}

.panel > *:last-child { 
    transform: translateY(100%); 
}

.panel.open-active > *:last-child { 
    transform: translateY(0); 
}

.panel p {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size:40px;
}